
<div class='position-absolute top-0 left-0'>
<%= link_to 'BACK TO MAIN', root_path, class:"btn btn-lg back-btn mt-4 ms-4 fs-2" %>
</div>


<div class="result-layout">

<h1 class="display-1 fw-bolder mb-2">
<%= repeated_chars(@input_value.input_val)[1] %>
</h1>
<h1 class="display-1 mb-5 fw-bolder">
<%= repeated_chars(@input_value.input_val)[0] %>
</h1>

<h4 class="text-light mt-5">
<%= @input_value.input_val %>
</h4>

</div>